.App {
  text-align: center;
}

.body{
  background-color: rgb(145, 145, 145);
  width: auto;
  height: auto;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.message-box{
  width: auto;
  height: 7rem;
  padding-top: 3.3rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-bottom:0.5rem;
  margin-top: 2rem;
  aspect-ratio: 11/9;
  background-size: 100% 100%; 
}

.container{
 width: auto;
}

.input-start{
  display: flex;
  justify-content: center;
}

.input-area{
  background-color: rgb(241, 255, 250);
  width: 15rem;
  height: auto;
  padding: 0.6rem;
  outline: none;
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
  border: none;
}

.post-button{
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  background-color: coral;
  padding: 0.3rem;
  width: 3rem;
  text-align: center;
  cursor: pointer;
}

.heading{
  text-align: center;
  justify-content: center;
  text-decoration: dotted;
  font-size: x-large;
  font-weight: bolder;
  padding: 1.5rem;
  color: aliceblue;
  text-shadow: 2px 2px 4px gray;
}
.messages{
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  padding: 1rem;
  margin-right: 2.5rem;
  margin-left: 2.5rem;
}

.post-button :hover{
  background-color: rgb(88, 70, 64);
  transform: translateX(5px);
  transition: all 0.3s ease-in-out;
}
@media (min-width: 1024px) {
  .messages {
    grid-template-columns: repeat(6, 1fr); 
  }
}
